.content {
  position: relative;
  margin-top: 80px;
}

.contentText {
  position: absolute;
}

.description {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 100;
}

.title {
  margin: 0;
}
.airplaneImage {
  width: 80%;
  margin: auto;
}

@media (max-width: 1024px) {
  .airplaneImage {
    display: none;
  }
  .contentText {
    position: relative;
  }
  .contentText {
    text-align: center;
  }
}
